<form action="/" method="POST">
  <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Asin</label>
    <input type="text" class="form-control" id="disabledTextInput" name="asin">
  </div>

    <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Title</label>
    <input type="text" class="form-control" id="disabledTextInput" name="title">
  </div>

    <div class="mb-3">
    <label for="disabledTextInput" class="form-label">ImageURl</label>
    <input type="text" class="form-control" id="disabledTextInput" name="imgUrl">
  </div>

    <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Stars</label>
    <input type="text" class="form-control" id="disabledTextInput" name="stars">
  </div>

    <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Reviews</label>
    <input type="text" class="form-control" id="disabledTextInput" name="reviews">
  </div>

    <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Price</label>
    <input type="text" class="form-control" id="disabledTextInput" name="price">
  </div>

    <div class="mb-3">
    <label for="disabledTextInput" class="form-label">ListPrice</label>
    <input type="text" class="form-control" id="disabledTextInput" name="listPrice">
  </div>

    <div class="mb-3">
    <label for="disabledTextInput" class="form-label">CategoryName</label>
    <input type="text" class="form-control" id="disabledTextInput" name="categoryName">
  </div>

      <div class="mb-3">
    <label for="disabledTextInput" class="form-label">IsBestSeller</label>
    <input type="text" class="form-control" id="disabledTextInput" name="isBestSeller">
  </div>

      <div class="mb-3">
    <label for="disabledTextInput" class="form-label">BoughtInLastMonth</label>
    <input type="text" class="form-control" id="disabledTextInput" name="boughtInLastMonth">
  </div>
   

<button type="submit" class="btn btn-primary">Submit</button>
</form>